.hello {
  display: block;
  margin: 2em;
  color: red;
  font-size: 50px;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

h3 {
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 24px;
  color: purple;
}

h4 {
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 18px;
  color: purple;
}

a:link { color:#33348e; text-decoration: none; }
a:visited { color:#33348e; text-decoration: none; }
a:hover { color:#33348e; text-decoration: underline; }
a:active { color:#7476b4; text-decoration: underline; }
